/*master.css*/

@import url(css/bootstrap.css);

@import url(css/font-awesome.min.css);

@import url(font/roboto/stylesheet.css);
@import url(font/league/stylesheet.css);
@import url(font/aller/stylesheet.css);

/*////////////////////
// UNIVERSAL STYLES //
////////////////////*/

html {
  height: 100%;
}

body {
  /*background-image: url('New-York-Skyline-Night-Usa.jpg');*/
  background-image: url('skylinebw.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: robotomedium;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}

a:hover {
  color: #BBBBBB;
  text-decoration: none;
}

a:focus {
  color: #EEEEEE;
  text-decoration: none;
}

i {
  color: inherit;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}


/*///////////////////////
// BOOTSTRAP SELECTORS //
///////////////////////*/

.container {
  height: 100%;
}



/*////////////////////
// TEMPLATE LAYOUTS //
////////////////////*/

#nav {
  font-family: league_gothicitalic;
  background-color: rgba(1,1,1,.5);
  color: #999999;
  display: inline-block;
  font-size: 55pt;
  padding: 4px;
  padding-left: 25px;
  /*position: absolute;*/
  top: 0px;
  
}

#name{
  color: #88DBB6;
  margin-right: 15px;
}

#name:hover{
  color: #92EBC3;
}

#name:focus{
  color: #9EFFD4;
}

#nav #name a:hover {
  color: #CCCCCC;
}


#icons {
  display: inline-block;
  font-size: 37px;
  position: relative;
  /*top: 25px;*/
  float: right;
  margin-right: 25px;
  line-height: 100px;
}

#page-column {
  /*height: 100%;*/ 
  padding-left: 0;
  padding-right: 0;
}

.page-content {
  background-color: rgba(1,1,1,.6);
  color: #999999;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 12px;
  width: 100%;
}

.menu-entry {
  font-family: league_gothicitalic;
  font-size: 28pt;

  border-top: solid;
  border-width: 1px;
  display: block;
  margin-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.menu-entry.menu-top {
  border-top: none;
}

.menu-entry a {
  width: 100%;
}


.title {
  font-family: league_gothicitalic;
  font-size: 28pt;
  color: inherit;
  display: inline-block;
  
  position: relative;
  left: -10px;
}

.back {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -10px;
  left: 2px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
  width: 30px;
}

.content-text {
  font-family: allerregular;
  font-size: 12pt;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
  /*height: 300px;*/
  margin-top: 10px;
  margin-bottom: 2px;
  /*overflow-y: auto;*/
  padding-top: 6px;
  padding-left: 9px;
  padding-right: 9px;
  width: 100%;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
}

.category-title{
  border-bottom: 1px;
  border-bottom-style: solid;
  font-size: 12pt;
}
